*.class
*.jar
*.pyc
__pycache__/

*.diff
*.log

.classpath
.project

.gradle/
.idea/
.settings/

gradlew
gradlew.*
**/gradle/wrapper/
testemu/gradle.properties

*.egg-info/
.eggs/

bin/
build/
dist/
frontend/
target/

package.*
vite.*
