*.class
*.jar
*.pyc
__pycache__/

*.diff
*.log

.classpath
.project

.gradle/
.idea/
.settings/

**/gradle/wrapper/
gradlew
gradlew.*

*.egg-info/
.eggs/
.venv/

bin/
build/
dist/
frontend/
target/
testemu/gradle.properties

package.*
vite.*
